[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 14.0
[submodule "pimsapublicidad"]
	path = pimsapublicidad
	url = git@git.vauxoo.com:vauxoo/pimsapublicidad.git
	branch = 14.0
